.cisl-container {
    max-width: 350px;
    max-height: 450px;
    margin-right: 100vw;
}
.cisl--style.cisl-tick-minor {
    height: 4px;
    width: 1px;
    fill: #999999;
}
.cisl--style.cisl-tick-major {
    height: 8px;
    width: 1px;
    fill: #000;
}
.cisl--style.cisl-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #428bca;
    border-style: none;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
    cursor: pointer;
}
.cisl--style.cisl-break-major {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
    color: #fff;
}
.cisl--style.cisl-rails-border {
    stroke-width: 10px;
    stroke: #cccccc;
}
.cisl--style.cisl-rails {
    stroke-width: 8px;
    stroke: url("#cisl-shiny-gradient");
    background-color: #ededed;
}
.cisl--style.cisl-bar {
    stroke-width: 10px;
    stroke: #428bca;
}
.cisl--style.cisl-handle {
    rx: 22px;
    height: 22px;
    width: 22px;
    stroke-width: 1px;
    stroke: #ababab;
    fill: #dedede;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    border-radius: 22px;
    cursor: pointer;
}
.cisl--style.cisl-handle:hover {
    fill: #fff;
}
